{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
            
            
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Our Projects</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Our Projects</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Portfolio Start -->
            <div class="portfolio">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Our Projects</p>
                        <h2>Visit Our Projects</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".first">Complete</li>
                                <li data-filter=".second">Running</li>
                                <li data-filter=".third">Upcoming</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="{% static 'website/img/portfolio-01.jpeg' %}" alt="Image" width="500" height="350">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Flat construction in progress 
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Flat Construction</h3>
                                    <a class="btn" href="{% static 'website/img/portfolio-01.jpeg' %}" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.2s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="{% static 'website/img/portfolio-002.jpeg' %}" alt="Image" width="500" height="350">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Earthmoving to create space for construction
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Creating Space</h3>
                                    <a class="btn" href="{% static 'website/img/portfolio-002.jpeg' %}" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.3s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="{% static 'website/img/portfolio-03.jpeg' %}" alt="Image" width="500" height="350">
                                    <div class="portfolio-overlay">
                                        <p>
                                            We Build tall buildings
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Tall buildings</h3>
                                    <a class="btn" href="{% static 'website/img/portfolio-03.jpeg' %}" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.4s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="{% static 'website/img/portfolio-4.jpg' %}" alt="Image" width="500" height="350">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Expansion of a old building
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Expansion Project</h3>
                                    <a class="btn" href="{% static 'website/img/portfolio-4.jpg' %}" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="{% static 'website/img/portfolio-005.jpeg' %}" alt="Image" width="500" height="350">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Roofing a bungalow 
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Roofing Project</h3>
                                    <a class="btn" href="{% static 'website/img/portfolio-005.jpeg' %}" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.6s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="{% static 'website/img/portfolio-02.jpeg' %}" alt="Image" width="500" height="350">
                                    <div class="portfolio-overlay">
                                        <p>Earthmoving to put up a building's foundation</p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Foundation</h3>
                                    <a class="btn" href="{% static 'website/img/portfolio-02.jpeg' %}" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 load-more">
                            <a class="btn" href="#">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio End -->
{% endblock %}